body {
	font-family: sans-serif;
	--piece-width: 50px;
	--piece-height: 50px;
	--image: url("");
	--image-width: 640px;
	--image-height: 480px;
	margin: 0;
	position: relative;
}

#play-area {
	width: 90vw;
	height: 90vh;
	padding: 5vh 5vw;
	position: relative;
	user-select: none;
}

.piece {
	position: absolute;
	width: calc(var(--piece-width) + 2 * var(--nib-size));
	height: calc(var(--piece-height) + 2 * var(--nib-size));
	background-image: var(--image);
	background-size: var(--image-width) var(--image-height);
	transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
}

.no-animation {
	transition: none !important;
}

.debug-point {
	position: absolute;
	width: 1px;
	height: 1px;
	z-index: 999999;
	background-image: none;
}
.debug-relative {
	position: relative;
	width: 100%;
	height: 100%;
}
